@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;

}

body {
    height: 100%;
    width: 100%;
    background-color: white;
}

.scontainer {
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.277);
}

.logo{
    position: absolute;
    left:25px;
    font-size: 30px;
    user-select:none;
}


.simg{
    height: 20px;
    width: 21px;
}

.searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    width: 100%;
    max-width: 400px;
    height: 40px;
    border-radius: 60px;
    padding: 10px 20px;

}

.searchbar input{
    position: realtive;
    background:transparent;
    flex:1;
    border:0px;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
}

::placeholder{
    color: black;
}

.searchbar button img{
    width: 25px;
}

.searchbar button{
    border: 0;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

.card-container{
    display: flex;
    height: 500px;
    justify-content:center;
    text-align: center;
    align-items: center;
    grid-gap:100px;
}

.card{
    border-radius: 35px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.8);
    
}

.card1{
    border: solid 2px rgb(231, 3, 132);
    background-color: rgb(255,0,144);
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 20px;
}

.card2{
    border: solid 2px rgb(99, 85, 222);
    background-color: rgb(109,93,241);
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 7px;
}

.card3{
    border: solid 2px rgb(229, 161, 13);
    background-color: rgb(255,178,15);
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;


}

.cloudimg{
    font-size: 5rem;
}


#icon-weather{
    padding-top: 20px;
    font-size: 4rem;
    color: white;
}

.temp-res{
    position: relative;
    top: -15px;
    font-size: 8rem;
    color: white;
}
.temp2{
    font-size: 45px;
    color: white;
}

.temp i{
    font-size: 7.5rem;
}

.humidity{
    font-size: 3.5rem;
    color: white;
}

.humidity-res{
    font-size: 7rem;
}

.ws{
    font-size: 9rem;
    color: white;
}

.ws-res{
    font-size: 4.8rem;
}

.city_name{
    font-size: 3rem;
    text-align: center;
}
