@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;

}

body {
    height: 100%;
    width: 100%;
    background-color: white;
}

.scontainer {
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.277);
}

.logo{
    position: absolute;
    left:25px;
    font-size: 30px;
    user-select:none;
}


.simg{
    height: 20px;
    width: 21px;
}

.searchbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    width: 100%;
    max-width: 400px;
    height: 40px;
    border-radius: 60px;
    padding: 10px 20px;

}

.searchbar input{
    position: realtive;
    background:transparent;
    flex:1;
    border:0px;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
}

::placeholder{
    color: black;
}

.searchbar button img{
    width: 25px;
}

.searchbar button{
    border: 0;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}